/* File Explorer Menu */
.active-path {
    padding: 0 12px 0 12px;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    background-color: var(--sub-background-color);
    color: white;
    height: 24px;
    margin: 0 auto;
    border-radius: 16px;
}

.fs-entry {
    display: flex;
    max-width: 50vw;
    width: inherit;
    background-color: unset;
    box-shadow: unset;
    border: none;
    border-radius: 0;
    color: var(--text-color);
    padding: 0.5em;
    font-size: 1em;
}

.fs-entry:hover {
    border-bottom: 2px solid var(--sub-background-color);
    background-color: var(--background-color);
}

.fs-back-icon {
    width: 20px;
    margin: auto 0;
    border: none;
    box-shadow: none;
}
